<form action="/cart" method="POST">
  <input type="hidden" name="_id" value="{{this._id}}" />
  <input type="hidden" name="productPrice" value="{{this.price}}" />
  <button class="product-details__button" type="submit">Add To Cart</button>
</form>